.raw {
  &__title {
    color: #fff;
    padding: 2rem;
  }
}
.list {
  display: flex;
  padding: 20px;
  overflow-y: hidden;
  overflow-x: scroll;

  &__item {
    flex: 0 0 200px;
    object-fit: contain;
    margin: 10px 20px;
  }
}
